.navbar-brand{
    font-weight: bold;
    color: black;
    font-size: 1.60em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-brand:hover {
    color: #B79A5F;
}

.navbar-nav{
    font-size: 1em;
    color: black;
}